__pycache__/
*.py[cod]
*$py.class

build/
dist/
*.spec

venv/
env/
.env
.venv
env.bak/
venv.bak/

.vscode/
.idea/
*.swp
*.swo

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

*.log
